@page "{id:int?}"
@model Costea_Maria_ClaudiaBakeryShop.Pages.Cities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cities</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City[0].CityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CityData.Cities)
        {
            string selectedRow = "";
            if (item.ID == Model.CityID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.CityData.Cities != null)
{
    <h3>Products Edited by Selected City</h3>
    <table class="table">

        @foreach (var item in Model.CityData.Cities)
        {
            string selectedRow = "";
            if (item.ID == Model.CityID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Products)
                        {

                            @b.Name @: @b.Price lei

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}