@page
@model Costea_Maria_ClaudiaBakeryShop.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ExpireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ExpireDate)
        </dd>
       <dt dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Product.AdressID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.AdressID)
        </dd>
        <dt dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.QuantityID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.QuantityID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
